@charset "UTF-8";

@font-face {
  font-family: "AlegreyaSans";
  font-display: swap;
  src: url("../fonts/AlegreyaSans-Bold.woff") format("woff"), url("../fonts/AlegreyaSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "AlegreyaSans";
  font-display: swap;
  src: url("../fonts/AlegreyaSans-Regular.woff") format("woff"), url("../fonts/AlegreyaSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Exo2";
  font-display: swap;
  src: url("../fonts/Exo2-Bold.woff") format("woff"), url("../fonts/Exo2-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Exo2";
  font-display: swap;
  src: url("../fonts/Exo2-Regular.woff") format("woff"), url("../fonts/Exo2-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/*Обнуление*/

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "AlegreyaSans", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "AlegreyaSans", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

._ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.header {
  height: 58px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFE600), to(#FFD600));
  background: -o-linear-gradient(top, #FFE600 0%, #FFD600 100%);
  background: linear-gradient(180deg, #FFE600 0%, #FFD600 100%);
}

.header__content {
  height: 100%;
  max-width: 1260px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  font-family: 'Exo2';
  font-size: 18px;
  color: #000000;
  text-align: center;
}

.header__logo span {
  font-weight: 700;
}

.header__phone {
  font-family: 'Exo2';
  font-size: 18px;
  color: #000000;
  text-align: center;
}

.footer {
  font-family: "Exo2";
  padding: 60px 0 25px 0;
  background: #E6EBFF;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 40px 0px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__colomn li {
  margin: 0px 0px 18px 0px;
  font-size: 18px;
  line-height: calc(22 / 18);
  color: #000000;
}

.footer__colomn li:last-child {
  margin: 0px 0px 0px 0px;
}

.footer__link {
  font-size: 18px;
  line-height: calc(22 / 18);
  color: #000000;
  position: relative;
}

.footer__link:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 1px;
  background: currentColor;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.footer__el {
  text-align: center;
}

.footer__code {
  font-size: 20px;
  color: #000000;
  text-align: center;
  margin: 0px 0px 10px 0px;
  font-weight: 500;
}

.footer__copy {
  font-size: 18px;
  color: #000000;
  margin: 0px 0px 15px 0px;
}

.footer__btn {
  height: 50px;
  border: 2px solid;
  color: #c5c5c5;
  padding: 0 60px;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 14px;
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.footer__bottom {
  color: #000000;
  line-height: calc(17 / 14);
}

.hero {
  padding: 58px 0px 30px 0px;
  position: relative;
  height: 100vh;
  width: 100%;
}

.hero__content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__body {
  position: relative;
  z-index: 2;
  width: 100%;
}

.hero__title {
  display: inline-block;
  font-weight: 700;
  font-size: 64px;
  line-height: calc(77 / 64);
  text-align: center;
  color: #fff;
  margin: 0px 0px 45px 0px;
}

.hero__form {
  max-width: 288px;
}

.hero__label {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #fff;
  margin: 0px 0px 20px 0px;
  display: inline-block;
}

.hero__mistake {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #E1B100;
  background: #fff;
  border-radius: 8px;
  margin: 0px 0px 20px 0px;
}

.hero__input {
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  border-radius: 30px;
  width: 100%;
  position: relative;
  margin: 0px 0px 20px 0px;
  overflow: hidden;
}

.hero__input input {
  padding: 0 10px;
  background: transparent;
  text-align: center;
  font-size: 18px;
  color: #000000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hero__input input::-webkit-input-placeholder {
  font-size: 18px;
  color: #000000;
}

.hero__input input::-moz-placeholder {
  font-size: 18px;
  color: #000000;
}

.hero__input input:-ms-input-placeholder {
  font-size: 18px;
  color: #000000;
}

.hero__input input::-ms-input-placeholder {
  font-size: 18px;
  color: #000000;
}

.hero__input input::placeholder {
  font-size: 18px;
  color: #000000;
}

.hero__btn {
  -webkit-box-shadow: none;
          box-shadow: none;
  height: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFE600), to(#FFD600));
  background: -o-linear-gradient(top, #FFE600 0%, #FFD600 100%);
  background: linear-gradient(180deg, #FFE600 0%, #FFD600 100%);
  border-radius: 30px;
  padding: 0 76px;
  font-weight: 700;
  color: #141414;
  position: relative;
  font-family: 'Exo2';
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  width: 100%;
}

.hero__slider:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.hero__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.hero__bg._active {
  opacity: 1;
  visibility: visible;
}

.popup-copy {
  position: fixed;
  right: 20px;
  top: 10px;
  background: #fff;
  color: green;
  font-size: 18px;
  font-weight: 700;
  padding: 10px 30px;
  border-radius: 8px;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.popup-copy._active {
  opacity: 1;
  visibility: visible;
}

.popup-error {
  position: fixed;
  right: 20px;
  top: 10px;
  background: #fff;
  color: red;
  font-size: 18px;
  font-weight: 700;
  padding: 10px 30px;
  border-radius: 8px;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.popup-error._active {
  opacity: 1;
  visibility: visible;
}

.random {
  background: #111;
  height: 100vh;
}

.random__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.random__title {
  font-size: 50px;
  font-weight: 700;
  color: #ddd;
  text-align: center;
  margin: 0px 0px 20px 0px;
}

.random__title .hot {
  color: red;
}

.random__title .cold {
  color: blue;
}

.random__wrapper {
  -webkit-transition: all 2.5s linear;
  -o-transition: all 2.5s linear;
  transition: all 2.5s linear;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 0px 50%;
}

.random__wrapper.active {
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  margin: 0px 0px 0px 0px;
}

.random__box {
  border: 2px solid #ddd;
  height: 100px;
  margin: 0px 0px 40px 0px;
  position: relative;
  background: #222;
  overflow: hidden;
}

.random__box:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  border: 12px solid transparent;
  border-bottom: 20px solid #ddd;
  z-index: 2;
}

.random__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.random__btn {
  height: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFE600), to(#FFD600));
  background: -o-linear-gradient(top, #FFE600 0%, #FFD600 100%);
  background: linear-gradient(180deg, #FFE600 0%, #FFD600 100%);
  border-radius: 30px;
  padding: 0 76px;
  font-weight: 700;
  color: #141414;
  position: relative;
  font-family: 'Exo2';
  -webkit-box-shadow: 2px 2px 5px #444;
          box-shadow: 2px 2px 5px #444;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  cursor: pointer;
}

.box {
  height: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.box_dark-blue {
  background: darkblue;
}

.box_blue {
  background: blue;
}

.box_purple {
  background: purple;
}

.box_yellow {
  background: yellow;
}

.box_orange {
  background: orange;
}

.box_red {
  background: red;
}

._container {
  max-width: 1100px;
  margin: 0 auto;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

body.hidden {
  overflow: hidden;
}

/**
@media (min-width: 992px){
   &:hover{

   }
}
*/

@media (min-width: 992px) {
  .header__phone:hover {
    text-decoration: underline;
  }

  .footer__link:hover:before {
    opacity: 1;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    bottom: -1px;
  }

  .footer__btn:hover {
    color: green;
  }

  .hero__btn:hover {
    color: #444;
  }

  .random__btn:hover {
    color: #444;
  }
}

@media (max-width: 1280px) {
  .header__content {
    max-width: 970px;
  }
}

@media (max-width: 1112px) {
  ._container {
    max-width: 970px;
  }
}

@media (max-width: 991.98px) {
  .header__content {
    max-width: 750px;
  }

  .footer__colomn li {
    font-size: 16px;
  }

  .footer__link {
    font-size: 16px;
  }

  ._container {
    max-width: 750px;
  }
}

@media (max-width: 767.98px) {
  .header__content {
    max-width: none;
    padding: 0 10px;
  }

  .header__logo {
    font-size: 14px;
  }

  .header__phone {
    font-size: 14px;
  }

  .footer__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer__colomn {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .footer__el {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 0px 0px 40px 0px;
  }

  ._container {
    max-width: none;
    padding: 0 10px;
  }
}

@media (max-width: 600px) {
  .header {
    height: 81px;
  }

  .header__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .header__logo {
    margin: 0px 0px 7px 0px;
    max-width: 254px;
  }

  .footer__body {
    margin: 0px 0px 0px 0px;
  }

  .footer__colomn li {
    font-size: 18px;
  }

  .footer__colomn {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin: 0px 0px 60px 0px;
  }

  .footer__link {
    font-size: 18px;
  }
}

@media (max-width: 479.98px) {
  .hero {
    padding: 81px 0px 30px 0px;
  }

  .hero__title {
    font-size: 48px;
    margin: 0px 0px 30px 0px;
  }

  .hero__form {
    max-width: none;
  }

  .random__btn {
    width: 100%;
  }
}